.search-container {
  margin: 0 auto;
  padding: 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  column-gap: 64px;
}
.to-button{
  background-color: #0d5a7b;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  margin-bottom: 2vh;
}
.to-button:hover{
  background-color: #050928;
}
.links{
  justify-self: left;
  display: grid;
}
.hero-description {
  justify-self: end;
}
.hero-img {
  justify-self: start;
}
