.hero-container {
  padding: 32px;
  background-color: #119b9d;
  color: white;
}
#nav-container {
  display: flex;
  justify-content: space-between;
}
.logo-link {
  justify-content: flex-start;
  margin-left: 3.2em;
  height: 65px;
  width: 65px;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.nav-link {
  margin-right: 20px;
  padding: 16px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
